dvc[gdrive]
python-dotenv

pandas[all]
jsonlines
wandb
mediapipe
opencv-python


notebook
nbconvert
jupyter
ipykernel
ipywidgets
tqdm
loguru
matplotlib
seaborn
moviepy

sacremoses
bert-score
evaluate
sacrebleu
ray[tune]
