/glossseq2polish.jsonl
/glossseq2polish.jsonl
/glossseq2polish.jsonl
/gloss2polish.jsonl
/merged_movies
/movie_clips

/autotrain_train.csv
/landmarks_all/
/clips_dataset_wth_herbert_token_ids.jsonl
/to_augment_txts/
/augmented_pl_annotations/

*.zip
*.jsonl
*.txt
